<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<section class="container about">
<h1>${_("Contact")}</h1>
<p style="font:normal 22px Georgia,Cambria,'Times New Roman',Times,serif">${_("Email:")}<br> admin@edlynx.org </p>
<p style="font:normal 22px Georgia,Cambria,'Times New Roman',Times,serif">${_("Phone:")}<br>
   USA: +1 (848) 229-2696
   <br>
   India: +91 8858114664
   <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91 532-2400522</p>
<p style="font:normal 22px Georgia,Cambria,'Times New Roman',Times,serif">${_("Address:")}<br>
34C/24 Nawab Yusuf Road Civil Lines<br>
Allahabad - 211001, UP, India
<br>
<br>
626 Middlesex Ave<br>
Metuchen, NJ 08840<br>
USA</p>
</section>

