<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%block name="pagetitle">${_("Team")}</%block>
<style>
  ul.team-list{
    list-style: none;
  }
  ul.team-list li img{
    width: 240px;
    height: 240px;
    float: left;
  }
  ul.team-list li .desc{
    margin-left: 280px;
  }
  ul.team-list li{
    overflow: hidden;
    font-size: 22px;
    line-height: 30px;
    font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  }
</style>
<section class="container about">
<h1>${_("Team")}</h1>
<p style="font-size:22px">${_("EdLynX academic panel is made of eminent scientists from top American Universities, leading professionals from Fortune 500 companies, and an editor of esteemed career magazines.")}
<br><br>
Our faculty includes a senior scientist from CERN - the European Organization for Nuclear Research that operates the largest particle physics laboratory in the world. A leading nanotechnology and material science engineering professor from the University of Pennsylvania whose path breaking research has been covered by leading international news outlets such as BBC and the Telegraph. Another of our faculty has distinction of cracking top ranks in IIT JEE three times, getting high percentiles in CAT, GRE, GMAT, TOEFL, TSE, and completing some of the toughest certifications in world such as CQF and CFA.<br>
<br>
Our faculties have completed PhD and Postdoctoral research in science from esteemed institutions such as Harvard University, University of California Berkeley, University of Illinois at Urbana- Champagne, University of Pittsburgh, Penn State University, Ohio State University, and more.

<br><br>
<ul class="team-list">

<li>
<div><img alt="Professor Ritesh Agarwal" src="${static.url('images/edx-theme/riteshagarwal-faculty.jpg')}"></div>
<div class="desc">
<p>
<b>Professor Ritesh Agarwal, PhD<br>
Nanotechnology Engineering, University of Pennsylvania<br>
Post-Doctoral Research, Harvard University<br>
PhD, University of California, Berkeley<br><br>
</b>
Professor Agarwal is a leading faculty and researcher in the area of nanotechnology at the University of Pennsylvania, an Ivy League university. Dr. Agarwal has an exemplary record in research and teaching. Among many awards to his credit he won $1, 500,000 - 2010 National Institute of Health New Innovator award from President Barack Obama and National Science Foundation Career Award. His research has been published in esteemed journals such as Nature and covered by international news outlets such as BBC and the Telegraph.
<br>
<a target="_blank" href="http://agarwal.seas.upenn.edu">http://agarwal.seas.upenn.edu</a><br>
</p>
</div>
</li>
<br>
<br>


<li>
<div><img alt="Dr. BD Chowdhury" src="${static.url('images/edx-theme/bdchowdhury-faculty.jpg')}"></div>
<div class="desc">
<p>
<b>Dr. Borun Chowdhury, PhD<br>
Senior Scientist CERN, Switzerland<br>
Post-Doctoral Research, University of Amsterdam, Netherlands<br>
PhD, Ohio State University, USA<br><br>
</b>
Dr. Borun Chowdhury is a theoretical physicist at CERN, Switzerland. Dr. Chowdhury has several years of scientific research experience in string theory and quantum gravity at some of the leading global research institutions such as University of Amsterdam, Netherland, Arizona State University, USA, and Tata Institute of Fundamental Research, India. Apart from research and teaching Dr. Chowdhury is also interested in application of statistics and machine learning in discovering arbitrage in the financial markets.</p>
</div>
</li>
<br>
<br>


<li>
<div><img alt="Professor Amit Paul" src="${static.url('images/edx-theme/amitpaul_faculty.jpg')}"></div>
<div class="desc">
<p>
<b>Professor Amit Paul, PhD <br>
Department of Physical Chemistry, IISERB<br>
Post-Doctoral Research, University of North Carolina, Chapel Hill, USA<br>
PhD, University of Pittsburgh, USA<br>
MSc, IIT Bombay<br><br>
</b>
Dr. Paul is a professor and researcher in the field of electrochemistry and nanotechnology. He has published his numerous inventions in leading international scientific journals. Dr. Paul is a recipient of the prestigious Department of Atomic Energy Research Award for Young Scientists, 2013.<br>
<a target="_blank" href="https://sites.google.com/site/dramitpaul1234">https://sites.google.com/site/dramitpaul1234</a><br>
</p>
</div>
</li>
<br>
<br>


<li>
<div><img alt="Professor Delmar Larsen" src="${static.url('images/edx-theme/delmarlarsen-faculty.jpg')}"></div>
<div class="desc">
<p>
<b>Professor Delmar Larsen, PhD<br>
Department of Chemistry, University of California, Davis<br
PhD, University of Chicago/University of California, Berkeley<br>
<br>
</b>
Professor Larsen focusses on scientific research that requires a multi-disciplinary approach that incorporates tools from molecular biology, physical chemistry and computational sciences. He is founder of Chemwiki (<a target="_blank" href="http://chemwiki.ucdavis.edu/">http://chemwiki.ucdavis.edu</a>) - an open textbook for Chemistry that is widely used by college students around the world.
<a target="_blank" href="http://chemistry.ucdavis.edu/faculty/department_faculty/delmar_larsen.html">http://chemistry.ucdavis.edu/faculty/department_faculty/delmar_larsen.html</a>
</p>
</div>
</li>
<br>
<br>


<li>
<div><img alt="Dr. Brian J. Albert" src="${static.url('images/edx-theme/brianalbert-faculty.jpg')}"></div>
<div class="desc">
<p>
<b>Dr. Brian J. Albert, PhD<br>
Post-Doctoral Research University of Chicago<br>
PhD, University of Pittsburgh<br><br>
</b>
Dr. Albert is an experienced veteran to the bio-renewable chemicals industries having served as a scientist in oleo-chemical and pine chemical industries.  He has developed novel chemicals, resins, and routes to valuable monomers.  In addition, Brian conducted research at world-class universities and institutions and holds numerous publications and patents.
</p>
</div>
</li>
<br>
<br>


<li>
<div><img alt="Aparna Agarwal" src="${static.url('images/edx-theme/aparnaagarwal-faculty.jpg')}"></div>
<div class="desc">
<p>
<b>Dr. Aparna Agarwal, PhD<br>
Head of Research and Development, Pharmaceutical Lab, USA<br>
Post-Doctoral Research, Rutgers University, USA<br>
PhD, University of Pittsburgh, USA<br>
MSc, IIT Kanpur<br><br>
</b>
Dr. Agarwal is a senior scientist at a leading pharmaceutical research lab in USA currently working on cancer drug research. Dr. Agarwal has published scientific articles in leading Journals and presented her research at some of the top scientific forums such as American Chemical Society (ACS) and Pittcon.
</p>
</div>
</li>
<br>
<br>

<li>
<div><img alt="Girish Mallapragada " src="${static.url('images/edx-theme/girishmallapragada-faculty.jpg')}"></div>
<div class="desc">
<p>
<b>Professor Girish Mallapragada, PhD<br>
PhD, Penn State University, USA<br>
PGDM, IIM<br><br>
</b>
Professor Mallapragada is a Professor of Marketing at the business school of Indiana University, USA. He has published research articles in leading academic business journals such as Management Science.
<a target="_blank" href="http://kelley.iu.edu/facultyglobal/directory/FacultyProfile.cfm?netID=gmallapr">http://kelley.iu.edu/facultyglobal/directory/FacultyProfile.cfm?netID=gmallapr</a>
</p>
</div>
</li>
<br>
<br>


<li>
<div><img alt="Amit Kaushik" src="${static.url('images/edx-theme/amitkaushik-faculty.jpg')}"></div>
<div class="desc">
<p>
<b>Amit Kaushik, CFA<br>
MS, Business Admin, Penn State University, USA<br>
BTech, MTech, IIT Bombay<br><br>
</b>
Amit has several years of leadership experience with top investment banks in New York City. He is passionate about education and specifically focuses on ways to help students succeed in school as well as professional exams and careers. Amit is a champion test taker who is a three-time IIT JEE top ranker, has had top percentiles in CAT, GRE, GMAT, TOEFL, and TSE and has completed some of the toughest certification in the world such as CQF and CFA.
</p>
</div>
</li>
<br>
<br>


<li>
<div><img alt="Arvind Pandey" src="${static.url('images/edx-theme/arvindpandey_faculty.jpg')}"></div>
<div class="desc">
<p>
<b>Arvind Pandey<br>
Editor-in-Chief, Career 365<br>
Advocate, Allahabad High Court<br>
LLB, Allahabad University
</b><br><br>
Mr. Pandey is editor of various magazines and a highly sought after speaker on topics ranging from law, career, education, and Indian civilization. He is also a practicing lawyer at the Allahabad High Court. Mr. Pandey works with various leading organizations to help improve quality of education at every level - primary, secondary, vocational, and professional.
</p>
</div>
</li>
<br>
<br>


<li>
<div><img alt="Anoop Kaushik" src="${static.url('images/edx-theme/anoopkaushik_faculty.jpg')}"></div>
<div class="desc">
<p>
<b>Anoop Kaushik<br>
Vice President, Investment Manager, New York<br>
BTech, IIT Kanpur</br><br>
</b>
Anoop is a technology leader with stints at leading Investment Banks and Asset Managers such as Morgan Stanley, USA. He is the key technology leader behind various education startups.</p>
</div>
</li>
<br>
<br>

<li>
<div><img alt="Katie Keene" src="${static.url('images/edx-theme/katiekeene-faculty.jpg')}"></div>
<div class="desc">
<p>
<b>Katie Keene, CPT<br>
MA, Sports and Fitness Administration University of Houston<br>
BS, University of Florida
</b><br><br>
Katie is a veteran Fitness and Nutrition Specialist. She has mentored and taught aspiring personal trainers in university and has held numerous fitness & wellness lectures for Fortune 500 clients. Katie is passionate about health, fitness, and overall wellness. She also enjoys writing, specifically within fitness.
<a target="_blank" href="http://katiekeenefitness.com">www.katiekeenefitness.com</a>
</p>
</div>
</li>


</p>
</section>

